.position-img{
    position: relative;
    margin-top: -20px;
}


.position-img-l{
    position: relative;
    margin-top: -50px;
}

#panel-margin{
    margin-top: -10px;
}

.position-img-logo{
    position: relative;
    margin-top: -20px;
}
